.autocomplete {
  background: #fff;
  color: #000;
  width: 100%;
  border-radius: 5px;
  position: relative;
}

.autocomplete input {
  height: 50px;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 0 60px 0 20px;
  font-size: 15px;
}

.autocomplete.active input {
  border-radius: 5px 5px 0 0;
}

.autocomplete .icon {
  position: absolute;
  content: "\00f046";
  right: 0px;
  top: 0px;
  height: 55px;
  width: 55px;
  text-align: center;
  line-height: 55px;
  font-size: 20px;
  color: #2193b0;
  cursor: pointer;
}

.autocomplete .sections {
  opacity: 0;
  max-height: 600px;
  overflow-y: auto;
}

.autocomplete.active .sections {
  opacity: 1;
}

.autocomplete .sections h3 {
  padding: 5px 5px;
  font-weight: 500;
  font-size: 15px;
  text-transform: uppercase;
  background-color: #f7f7f7;
  color: rgba(0, 0, 0, 0.5);
  display: none;
}

.autocomplete.active .sections h3 {
  display: block;
}

.autocomplete .list {
  opacity: 0;
  pointer-events: auto;
}

.autocomplete.active .list {
  opacity: 1;
  pointer-events: auto;
}

.autocomplete .list li {
  list-style: none;
  padding: 8px 12px;
  display: none;
  width: 100%;
  cursor: default;
  border-radius: 3px;
}

.autocomplete.active .list li {
  display: block;
}

.autocomplete .list li:hover {
  background: #f7f7f7;
}
